.brand-configurator-container {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Совпадает с .modal-overlay */
  z-index: 1000;
  transition: top 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-configurator-container.open {
  top: 0;
}

.brand-configurator {
  background-color: #333; /* Совпадает с .modal-content */
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px; /* Максимальная ширина */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Совпадает с .modal-content */
  color: #fff; /* Цвет текста */
  position: relative; /* Для позиции кнопки закрытия */
}

.brand-configurator h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* Цвет заголовка */
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.brand-configurator input {
  flex: 1 1 calc(50% - 10px); /* Два инпута в строке с промежутком */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #555; /* Совпадает с input */
  background-color: #222; /* Совпадает с input */
  color: #fff; /* Цвет текста инпутов */
  box-sizing: border-box;
}

.brand-configurator button {
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #1890ff; /* Совпадает с .modal-button */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease; /* Плавный переход при наведении */
}

.brand-configurator button:hover {
  background-color: #40a9ff; /* Совпадает с .modal-button:hover */
}

.brand-configurator .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
