.pdf-maker {
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.fullscreen {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.toolbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10; 
  padding: 10px 10px 0 0;
}

.toolbar-button, .fullscreen-button, .copy-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; 
  transition: 0.3s ease-in-out;
  opacity: 20%;
}

.toolbar-button:hover, .fullscreen-button:hover, .copy-button:hover {
  opacity: 100%;
}

.toolbar-button svg, .fullscreen-button svg, .copy-button svg {
  width: 15px;
  height: 15px;
}

.copy-button.copying {
  background-color: #62d59075;
}

@media (max-width: 768px) {
  .pdf-maker.expanded, .pdf-maker.fullscreen {
    width: 100%;
    height: 100%;
  }
}
